<% notes.each do |note| %>
  <div class="hover" style="padding: 0.5rem;">
    <div style="display: flex; justify-content: space-between;">
      <%= link_to note.title, note %>
      <div>
        <%= link_to "Edit", edit_note_path(note) %>
      </div>
    </div>
    <div>
      Last updated: <%= time_tag note.updated_at, "data-local": "time-ago" %>
    </div>
      <%= render "notes/tags", tags: note.tags %>
    </div>
  </div>
<% end %>
