<div id="notes">
  <% notes.each do |note| %>
    <p>
      <div>
        <%= link_to note.title, note %>
        <%= link_to "[Edit]", edit_note_path(note) %>
        <div>
          Last updated: <%= time_tag note.updated_at, "data-local": "time-ago" %>
        </div>
        <%= render "tags", tags: note.tags %>
      </div>
    </p>
  <% end %>
</div>
