<% notes.each do |note| %>
  <p>
    <%= link_to note.title, share_path(user: note.user.username, slug: note.slug) %>
    <br>
    <%= time_tag note.updated_at, time_ago(note.updated_at) %>
  </p>
<% end %>
