<%= form_with url: "/search", method: :get do |form| %>
  <div style="display: flex">
    <%= form.text_field :query, value: @query, placeholder: 'Search...', style: 'margin-right: 0.5rem' %>
    <%= form.submit "Search", name: nil %>
  </div>
<% end %>

<% if @notes.empty? %>
  <h4>There are no results for your search.<h4>
<% else %>
  <%= render 'notes/notes', notes: @notes %>
<% end %>
