/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.nav_main ul {
  display: flex;
  justify-content: space-between;
  padding-left: 0
}
.nav_main ul li {
  display: inline-block;
  text-align: center;
}

@media screen and (max-width: 375px) {
  .nav_main ul li { font-size: 0.9rem }
  .nav_main #title {
    display: none;
  }
}

nav ul li ul {
  max-height: 30rem;
  overflow-y: auto;
}

.button_as_link {
  background-color: unset;
  color: var(--link-color);
  padding: unset;
  margin: unset;
}
.button_as_link:hover {
  background-color: unset !important;
  color: var(--link-hover-color);
  padding: unset;
  margin: unset;
}

.note:hover {
  background-color: #44475A40;
}

.add_tag {
  opacity: 0.4;
}
.remove_tag:hover {
  opacity: 0.4;
  border-color: red;
}
.remove_tag:hover a {
  color: red;
}

.diff {
  overflow:auto;
  border: solid thin;
  padding: 1rem;
  margin: 0.5rem 0 1.5rem 0;
}
.diff ul {
  overflow:auto;
  list-style:none;
  margin:0;
  padding:0;
  display:table;
  width:100%;
}
.diff del, .diff ins {
  display:block;
  text-decoration:none;
}
.diff li {
  padding:0;
  display:table-row;
  margin: 0;
  height:1em;
}
.diff del, .diff ins, .diff span {
  white-space:pre-wrap;
  font-family:PT Mono, Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}
.diff del strong {
  font-weight:normal;
  background:red;
}
.diff ins strong {
  font-weight:normal;
  background:green;
}
.diff li.diff-comment { display: none; }
.diff li.diff-block-info { background: none repeat scroll 0 0 gray; }
.diff li del .symbol, .diff li ins .symbol {
  margin-right: 0.5rem;
  opacity: 0.5;
}

.user_file {
  display: flex;
  border: solid thin;
  padding: 0.5rem;
  margin: 0.5rem 0;
}
.user_file img {
  margin-right: 0.5rem;
}
